<!DOCTYPE html>
<html lang="en">
<head>
    {{{ output.standard_head_html }}}
</head>
<body {{{ bodyattributes }}} class="bg-white text-gray-900 font-sans">
    {{{ output.standard_top_of_body_html }}}

    <main class="p-4">
        {{{ maincontent }}}
    </main>

    {{{ standardendhtml }}}
</body>
</html>
