<!DOCTYPE html>
<html lang="{{ output.get_lang() }}">
<head>
    {{{ output.standard_head_html }}}
</head>
<body {{{ bodyattributes }}} class="bg-gray-50 text-gray-900">

    <main id="page" class="container mx-auto py-10">
        {{{ maincontent }}}
    </main>

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
